@use '../utils/variables' as *;

.about {
  position: relative;
  padding-bottom: 70px;
}

.about::before {
  content: '';
  position: absolute;
  bottom: -42px;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-image-set(
    '../images/about/about-decor.avif' type('image/avif'),
    '../images/about/about-decor.webp' type('image/webp'),
    '../images/about/about-decor.png' type('image/png')
  );
  background-image: image-set(
    '../images/about/about-decor.avif' type('image/avif'),
    '../images/about/about-decor.webp' type('image/webp'),
    '../images/about/about-decor.png' type('image/png')
  );
  background-repeat: no-repeat;
  background-size: cover;
}

.about__image {
  display: block;
  height: auto;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
}

.about__content {
  position: absolute;
  top: 60%;
  text-align: left;
  max-width: 280px; 
}

.about__logo {
  position: absolute;
  top: 30px;
}

.about__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: -0.01em;
}
