@use '../utils/variables' as *;

.about {
  position: relative;
  z-index: 1;
  background: linear-gradient(to right, #f0f0f0 0%, #f0f0f0 49%, rgba(240,240,240,0) 51%, transparent 100%);
}

.about::before {
  content: '';
  position: absolute;
  bottom: -42px;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-image-set(
    '../images/about/about-decor.avif' type('image/avif'),
    '../images/about/about-decor.webp' type('image/webp'),
    '../images/about/about-decor.png' type('image/png')
  );
  background-image: image-set(
    '../images/about/about-decor.avif' type('image/avif'),
    '../images/about/about-decor.webp' type('image/webp'),
    '../images/about/about-decor.png' type('image/png')
  );
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: 640px) {
    display: none;
  }
}

@media (min-width: 1440px) {
  .about::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 428px;
    height: 100%;
    background-image: -webkit-image-set(
      '../images/about/about-decor-left.avif' type('image/avif'),
      '../images/about/about-decor-left.webp' type('image/webp'),
      '../images/about/about-decor-left.png' type('image/png')
    );
    background-image: image-set(
      '../images/about/about-decor-left.avif' type('image/avif'),
      '../images/about/about-decor-left.webp' type('image/webp'),
      '../images/about/about-decor-left.png' type('image/png')
    );
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: -1;
  }
}

.about__image {
  display: block;
  height: auto;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
}

.about__content {
  position: absolute;
  top: 50%;
  text-align: left;
  max-width: 280px;

  @media (min-width: 640px) {
    top: 43%;
    max-width: 317px;
    color: $colorBlack;
  }

  @media (min-width: 1440px) {
    top: 50%;
    max-width: 460px;
    line-height: 1.5;
  }
}

.about__logo {
  position: absolute;
  top: 30px;

  @media (min-width: 640px) {
    top: 40px;
  }

  @media (min-width: 1440px) {
    top: 120px;
  }
}

.about__title {
  color: $colorWhite;

  @media (min-width: 640px) {
    color: $colorOrange;
  }
}

.about__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: -0.01em;

  @media (min-width: 640px) {
    font-size: 14px;
    line-height: 1.6;
    letter-spacing: 0.4px;
  }
}
