@use '../utils/variables' as *;

.about {
  position: relative;
  width: 100vw;
  overflow: hidden;
  padding: 30px 0 50px;
}

.about__image {
  display: block;
  width: 100%;
  height: auto;
}

.about__content {
  position: absolute;
  top: 50%; /* центрируем по вертикали */
  left: 50%; /* центрируем по горизонтали */
  transform: translate(-50%, -50%);
  color: #fff; /* текст поверх картинки */
  text-align: left;
  max-width: 90%; /* ограничиваем ширину текста */
}
