@use '../utils/variables' as *;

.advantages {
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
}

.advantages::after {
  content: '';
  position: absolute;
  top: -300px;
  left: 0;
  width: 320px;
  height: 50%;
  z-index: -1;
  filter: blur(50px);
  background-image: url('../images/advantages/advantages-decor.webp');

  @media (min-width: 640px) {
    width: 640px;
    filter: blur(100px);
    top: -400px;
  }
}

.advantages__img-desktop {
  display: none;

  @media (min-width: 1440px) {
    display: block;
  }
}

.advantages__item-title {
  position: relative;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
  color: $colorOrange;
  margin-bottom: 24px;

  @media (min-width: 640px) {
    font-size: 20px;
  }
}

.advantages__item-title::after {
  content: '';
  position: absolute;
  top: 27px;
  left: 0;
  background-color: $colorOrange;
  width: 100px;
  height: 3px;

  @media (min-width: 640px) {
    top: 35px;
  }
}

body.light-theme .advantages__item-title {
  color: $colorWhite;
}

.advantages__item-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 1px;
  margin-bottom: 16px;

  @media (min-width: 640px) {
    font-size: 14px;
    line-height: 1.6;
  }
}

.advantages__list {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

@media (min-width: 1440px) {
  .advantages__img-box {
    display: flex;
    justify-content: space-between;
  }
}

.advantages__image {
  display: block;
  margin: 0 auto;
  border-radius: 15px;
  width: 100%;
}

// ==================

.advantages {
  &__tabs {
    display: flex;
    flex-direction: column;
    // gap: 24px;
  }

  &__tab {
    transition: opacity 0.3s ease;
    opacity: 1;

    &.active {
      opacity: 1;
    }
  }

  &__tab-title {
    position: relative;
    margin-bottom: 16px;
    cursor: pointer;
    font-size: 1.25rem;
    color: $colorOrange;

    @media (min-width: 1440px) {
      color: $colorWhite;

      body.dark-theme .advantages__tab-title {
        color: $colorBlack;
      }
    }

    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 3px;
      background: $colorOrange;
      margin-top: 8px;

      @media (min-width: 1440px) {
        background: $colorWhite;
      }
    }
  }

  &__tab.active &__tab-title::after {
    background: $colorOrange;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @media (min-width: 1440px) {
      flex-direction: row;
    }
  }

  &__panel {
    display: block;
  }

  @media (min-width: 1440px) {
    &__tabs {
      flex-direction: row;
      justify-content: space-between;
      // gap: 32px;
    }

    &__tab {
      flex: 1;
      cursor: pointer;
      opacity: 0.5;

      &.active {
        opacity: 1;
      }
    }

    &__panel {
      display: none;

      &.is-active {
        display: block;
      }
    }

    @media (min-width: 1440px) {
      .advantages__images {
        display: flex;
        justify-content: center;
        gap: 24px;
      }

      .advantages__images picture img {
        width: auto;
        height: auto;
        max-width: 100%;
        display: block;
      }
    }
  }
}

/* Мобилка и планшет */
@media (max-width: 1439px) {
  .advantages__tabs {
    display: none;
  } /* скрываем табы */
  .advantages__item {
    margin-bottom: 2rem;
  }
  .advantages__tab-title {
    font-size: 1.2rem;
  }
  .advantages__tab-text {
    margin: 0.5rem 0 1rem;
  }
  .advantages__tab-image {
    width: 100%;
    height: auto;
  }
}

/* Десктоп */
@media (min-width: 1440px) {
  .advantages__item {
    display: none;
  } /* скрываем линейные блоки */
  .advantages__tabs {
    display: flex;
  }
}
