@use '../utils/variables' as *;

.advantages {
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
}

.advantages::after {
  content: '';
  position: absolute;
  top: -300px;
  left: 0;
  width: 320px;
  height: 50%;
  filter: blur(50px);
  background-image: url('../images/advantages/advantages-decor.webp');

  @media (min-width: 640px) {
    width: 640px;
    filter: blur(100px);
    top: -400px;
  }
}

.advantages__img-desktop {
  display: none;

  @media (min-width: 1440px) {
    display: block;
    margin-left: 24px;
  }
}

.advantages__item-title {
  position: relative;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
  color: $colorOrange;
  margin-bottom: 24px;
}

.advantages__item-title::after {
  content: '';
  position: absolute;
  top: 27px;
  left: 0;
  background-color: $colorOrange;
  width: 100px;
  height: 3px;
}

.advantages__item-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: -0.01em;
  margin-bottom: 16px;
}

.advantages__list {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.advantages__img-box {
  display: flex;
  justify-content: space-between;
}

.advantages__image {
  display: block;
  margin: 0 auto;
  // width: 100%;
}
