@use '../utils/variables' as *;

.advantages {
  padding-top: 50px;
  background-image: url('../images/advantages/advantages-decor.webp');
  background-repeat: no-repeat;
  background-position-y: center;
}

.advantages__img-desktop {
  display: none;

  @media (min-width: 1440px) {
    display: block;
    margin-left: 24px;
  }
}

.advantages__item-title {
  position: relative;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
  color: $colorOrange;
  margin-bottom: 24px;
}

.advantages__item-title::after {
  content: '';
  position: absolute;
  top: 27px;
  left: 0;
  background-color: $colorOrange;
  width: 100px;
  height: 3px;
}

.advantages__item-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: -0.01em;
  margin-bottom: 24px;
}
