@use '../utils/variables' as *;

.app {
  padding-bottom: 50px;
}

.app__content {
  margin-bottom: 30px;
}

.app__title {
  color: $colorOrange;
}

.app__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: -0.01em;
  margin-bottom: 24px;
}

.app__links {
  display: flex;
  gap: 12px;
}
