@use '../utils/variables' as *;

// .app {
//   padding-bottom: 50px;
// }

.app__content {
  margin-bottom: 30px;

  @media (min-width: 640px) {
    margin-bottom: 0;
    padding-top: 30px;
    width: 270px;
    width: 310px;
  }
}

@media (min-width: 640px) {
  .app__box {
    display: flex;
    justify-content: space-between;
    gap: 24px;
  }
}

.app__title {
  font-weight: 600;
  font-size: 25px;
  line-height: 1.2;
  color: $colorOrange;
  margin-bottom: 24px;

  @media (min-width: 640px) {
    font-size: 30px;
    line-height: 1.1;
  }
}

.app__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: -0.01em;
  margin-bottom: 24px;
}

.app__links {
  display: flex;
  gap: 12px;
}

.app__image {
  display: block;
  width: 220px;
  margin: 0 auto;
  border-radius: 60px 60px 0 0;

  @media (min-width: 1440px) {
    width: 400px;
  }
}
