@use '../utils/variables' as *;

.app {
  position: relative;
}

.app::before {
  position: absolute;
  top: 50px;
  right: 0;
  content: '';
  width: 620px;
  height: 530px;
  background-image: -webkit-image-set(
    '../images/app/app-decor-ellipse.avif' type('image/avif'),
    '../images/app/app-decor-ellipse.webp' type('image/webp'),
    '../images/app/app-decor-ellipse.png' type('image/png')
  );
  background-image: image-set(
    '../images/app/app-decor-ellipse.avif' type('image/avif'),
    '../images/app/app-decor-ellipse.webp' type('image/webp'),
    '../images/app/app-decor-ellipse.png' type('image/png')
  );
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 100%;
  filter: blur(180px);
  background: linear-gradient(120deg, #fc501f 0%, rgba(252, 80, 31, 0) 100%);
  z-index: -1;
}

.app__content {
  margin-bottom: 30px;

  @media (min-width: 640px) {
    margin-bottom: 0;
    padding-top: 30px;
    width: 270px;
    width: 310px;
  }

  @media (min-width: 1440px) {
    padding-top: 120px;
    width: 520px;
    margin-bottom: 34px;
  }
}

@media (min-width: 640px) {
  .app__box {
    display: flex;
    justify-content: space-between;
    gap: 24px;

    @media (min-width: 1440px) {
      justify-content: left;
      gap: 58px;
    }
  }
}

.app__title {
  font-weight: 600;
  font-size: 25px;
  line-height: 1.2;
  color: $colorOrange;
  margin-bottom: 24px;

  @media (min-width: 640px) {
    font-size: 30px;
    line-height: 1.1;
  }

  @media (min-width: 1440px) {
    font-weight: 500;
    font-size: 45px;
  }
}

.app__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: -0.01em;
  margin-bottom: 24px;

  @media (min-width: 640px) {
    font-size: 14px;
    margin-bottom: 34px;
  }

  @media (min-width: 1440px) {
    padding-right: 192px;
  }
}

.app__links {
  display: flex;
  gap: 12px;
}

.app__image {
  display: block;
  width: 220px;
  margin: 0 auto;
  border-radius: 30px 30px 0 0;

  @media (min-width: 1440px) {
    width: 400px;
  }
}
