@use '../utils/variables' as *;

.banner {
  position: relative;
  background-image: image-set(
    '../images/banner/banner-mobile.avif' type('image/avif'),
    '../images/banner/banner-mobile.webp' type('image/webp'),
    '../images/banner/banner-mobile.avif' type('image/jpeg')
  );
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 420px;
}

.banner::after {
  content: '';
  position: absolute;
  background-image: url('../images/banner/bg-banner.webp');
  bottom: 0;
  width: 420px;
  height: 244px;
}

.banner__logo {
  padding-top: 20px;
}

.banner__title {
  padding-top: 225px;
  margin-bottom: 15px;
}

.banner__box {
  position: relative;
  z-index: 1;
}
