@use '../utils/variables' as *;

.buy__content {
  width: 280px;
  height: 618px;
  background-color: $colorBlack;
  border-radius: 15px;
  padding: 25px;
}

body.dark-theme .buy__content {
  background-color: $colorWhite;
}

.buy__title {
  width: 175px;
  margin-bottom: 12px;
}

.buy__price {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.1;
  color: $colorOrange;
  margin-bottom: 24px;
}

.theme-toggle {
  display: inline-flex;
  border-radius: 8px;
  overflow: hidden;
  width: 220px;
  height: 54px;

  @media (min-width: 640px) {
    width: 248px;
  }
}

.theme-toggle button {
  flex: 1;
  padding: 10px 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 18px;
  border-radius: 65px;
  transition:
    background $transition,
    color $transition,
    border-radius $transition;
}

body.light-theme .theme-toggle {
  border: 3px solid $colorWhite;
  transition: border $transition;
  border-radius: 65px;
}

body.dark-theme .theme-toggle {
  border: 3px solid $colorBlack;
  transition: border $transition;
  border-radius: 65px;
}

// ============
.buy__img-content {
  position: relative;
}

.buy__img-content picture {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.buy__img-content picture.is-active {
  opacity: 1;
  position: relative;
}

.theme-toggle button[aria-pressed='true'] {
  border-radius: 65px;
  color: $colorBlack;
  transition:
    background 0.3s ease,
    color 0.3s ease;
}

body.light-theme #buy-light-btn {
  background-color: $colorWhite;
}

body.dark-theme #buy-dark-btn {
  background-color: $colorBlack;
  color: $colorWhite;
  border-radius: 65px;
}

.buy__button {
  display: block;
  margin: 0 auto 16px;
  border-radius: 65px;
  padding: 15px 35px;
  width: 220px;
  height: 54px;
  background-color: $colorOrange;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: $colorWhite;
  cursor: pointer;
}

.buy__set {
  display: block;
  margin: 0 auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: $colorWhite;
  cursor: pointer;
}

body.dark-theme .buy__set {
  color: $colorBlack;
}
