@use '../utils/variables' as *;

.design {
  padding: 60px 0;
  background-image: url('../../images/design/design-decor.webp');
  background-repeat: no-repeat;
  background-position: top;
}

.design__title {
  width: 278px;
}

.design__list {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.design__image {
  margin-bottom: 16px;
}

.design__card-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
  color: $colorWhite;
  margin-bottom: 12px;
}

.design__description {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.7;
  color: $colorWhite;
}
