@use '../utils/variables' as *;

.design {
  padding: 60px 0;
  background-image: url('../images/design/design-decor.webp');
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%;
}

.design__title {
  width: 278px;

  @media (min-width: 640px) {
    width: 500px;
  }

  @media (min-width: 1440px) {
    width: 760px;
    margin-bottom: 40px;
  }
}

.design__list {
  display: flex;
  flex-direction: column;
  gap: 28px;

  @media (min-width: 1440px) {
    flex-direction: row;
  }
}

@media (min-width: 640px) {
  .design__item {
    position: relative;
    width: 100%;
    height: 550px;
  }

  .design__item:first-child::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 292px;
    border-radius: 15px;
    background-image: url('../images/design/design-bg-dark.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 0;
  }
}

.design__image {
  margin: 0 auto 16px;
  display: block;
  width: 100%;
  border-radius: 15px;
}

.design__image-tablet {
  display: none;
}

@media (min-width: 640px) {
  .disign__text-box {
    position: absolute;
    bottom: 30px;
    z-index: 1;
    width: 440px;
    left: 40px;
  }
}

.design__card-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
  color: $colorWhite;
  margin-bottom: 12px;

  @media (min-width: 640px) {
    font-size: 20px;
  }
}

.design__description {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.7;
  color: $colorWhite;

  @media (min-width: 640px) {
    font-size: 14px;
    line-height: 1.6;
  }
}


