@use '../utils/variables' as *;

.footer {
  padding: 30px 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: -0.01em;
  text-align: center;
  color: $colorBlack;

  @media (min-width: 640px) {
    font-size: 14px;
    line-height: 1.6;
  }

  @media (min-width: 1440px) {
    line-height: 1.5;
  }
}

body.light-theme .footer {
  color: $colorWhite;
}

.footer__container {
  padding: 0 10px;

  @media (min-width: 1440px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 140px;
  }
}

.footer__left-side,
.footer__right-side {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer__left-side {
  margin-bottom: 8px;

  @media (min-width: 1440px) {
    margin-bottom: 0;
    text-align: left;
  }
}

@media (min-width: 1440px) {
  .footer__right-side {
    text-align: end;
  }
}
