@use '../utils/variables' as *;

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  padding-top: 20px;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 56px;

  @media (min-width: 1440px) {
    justify-content: left;
  }
}

.logo {
  z-index: 2;
}

.header__logo {
  width: 46px;
  height: 30px;
  fill: $colorOrange;

  @media (min-width: 640px) {
    width: 60px;
    height: 39px;
  }
}

.menu__list {
  display: flex;
  gap: 30px;

  @media (min-width: 1440px) {
    flex-direction: row;
    gap: 40px;
    margin-left: 90px;
  }
}

.menu__link {
  position: relative;
  font-weight: 400;
  letter-spacing: -0.01em;
  transition: color 0.3s linear;
}

.menu__link:hover,
.menu__link:focus {
  color: $colorOrange;
}

.menu__link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: $colorOrange;
  transition: width 0.3s ease;
  -webkit-transition: width 0.6s ease;
}

.menu__link:hover::after,
.menu__link:focus::after {
  width: 100%;
  left: 0;
}

.header__link {
  display: none;

  @media (min-width: 1440px) {
    display: block;
    border-radius: 65px;
    padding: 15px 35px;
    margin-left: auto;
    width: 122px;
    height: 54px;
    background-color: $colorWhite;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    color: $colorBlack;
    cursor: pointer;
    transition: background-color 0.25s linear;
  }

  &:hover,
  &:focus {
    background-color: $colorOrange;
  }
}

// Burger menu
.icon-menu {
  display: none;
}

@media (max-width: 1439px) {
  .icon-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    background-color: $colorWhite;
    border-radius: 50%;
    position: relative;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: '';
    position: absolute;
    width: 70%;
    height: 2px;
    background-color: $colorBlack;
    transition: all 0.3s linear;
  }

  .icon-menu::before {
    top: 14px;
  }
  .icon-menu::after {
    bottom: 14px;
  }

  .icon-menu span {
    top: calc(50% - 1px);
  }
  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 1px);
    transform: rotate(-45deg);
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - 1px);
    transform: rotate(45deg);
  }

  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    background: $colorBurgerMenu;
    left: -100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 200px 15px 30px 15px;
    font-size: 22px;
    overflow: auto;
    transition: left 0.3s linear;
    background-repeat: no-repeat;
    background-position: top center;
    z-index: 1;
  }

  .menu__body::before {
    content: '';
    width: 100%;
    position: fixed;
    top: 0;
    left: -100%;
    height: 85px;
    background: $colorBurgerMenu;
    z-index: 2;
    transition: left 0.3s linear;
  }

  .menu-open .menu__body,
  .menu-open .menu__body::before {
    left: 0;
  }

  .menu__list {
    display: flex;
    flex-direction: column;
    gap: 34px;
    text-align: center;
  }
}
