@use '../utils/variables' as *;

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  padding-top: 20px;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 56px;
}

// Burger menu
.icon-menu {
  display: none;
}

@media (max-width: 1439px) {
  .icon-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    background-color: $colorWhite;
    border-radius: 50%;
    position: relative;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: '';
    // right: 0;
    position: absolute;
    width: 70%;
    height: 2px;
    background-color: $colorBlack;
    transition: all 0.3s linear;
  }

  .icon-menu::before {
    top: 14px;
  }
  .icon-menu::after {
    bottom: 14px;
  }

  .icon-menu span {
    top: calc(50% - 1px);
  }
  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 1px);
    transform: rotate(-45deg);
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - 1px);
    transform: rotate(45deg);
  }

  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    background: $colorOrange;
    left: -100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 86px 15px 30px 15px;
    overflow: auto;
    transition: left 0.3s linear;
    z-index: 1;
  }

  .menu__body::before {
    content: '';
    width: 100%;
    position: fixed;
    top: 0;
    left: -100%;
    height: 80px;
    background: $colorOrange;
    z-index: 2;
    transition: left 0.3s linear;
  }

  .menu-open .menu__body,
  .menu-open .menu__body::before {
    left: 0;
  }

  .menu__list {
    display: flex;
    flex-direction: column;
    gap: 64px;
    text-align: center;
  }
}
