@use '../utils/variables' as *;

.hero {
  margin: 0 auto;
}

.hero__image {
  display: block;
  position: relative;
}

.hero__image::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../images/hero/hero-decor.webp');
}
