@use '../utils/variables' as *;

.hero {
  position: relative;
  z-index: 2;
  margin: 0 auto;
  background-image: url('../images/hero/decor-1.svg');
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: 640px) {
    padding-bottom: 150px;
  }
}

.hero__img-box {
  position: relative;
  z-index: -1;
}

.hero__image {
  position: absolute;
  right: -20px;
  display: block;
  justify-self: center;

  @media (min-width: 640px) {
    right: -40px;
  }
}

.hero__title {
  font-weight: 600;
  font-size: 30px;
  line-height: 1;
  width: 250px;
  color: $colorOrange;
  margin-bottom: 20px;
  padding-top: 375px;

  @media (min-width: 640px) {
    font-size: 40px;
    line-height: 1.2;
    width: 534px;
    padding-top: 200px;
  }

  @media (min-width: 1440px) {
    font-size: 80px;
    line-height: 1;
    width: 1032px;
    padding-top: 220px;
    margin-bottom: 40px;
  }
}

.hero__text {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 24px;

  @media (min-width: 640px) {
    width: 320px;
    font-size: 20px;
    margin-bottom: 40px;
  }

  @media (min-width: 1440px) {
    font-size: 30px;
    width: 500px;
  }
}

/* Светлая тема */
body.light-theme {
  background-color: $color-bg-dark;
  color: $colorWhite;
  transition: background-color $transition, color $transition;
}

body.light-theme .theme-toggle {
  border: 3px solid $colorWhite;
  transition: border $transition;
  border-radius: 65px;
}

body.light-theme #dark-btn {
  background: transparent;
  color: $colorWhite;
  transition: background $transition, color $transition, border-radius $transition;
}

body.light-theme #light-btn {
  border-radius: 65px;
  background-color: $colorWhite;
  color: $colorBlack;
}

/* Тёмная тема */
body.dark-theme {
  background-color: $color-bg-light;
  color: $colorBlack;
  transition: background-color $transition, color $transition;
}

body.dark-theme .theme-toggle {
  border: 3px solid $colorBlack;
  transition: border $transition;
  border-radius: 65px;
}

body.dark-theme #light-btn {
  background: transparent;
  color: $colorBlack;
  transition: background $transition, color $transition, border-radius $transition;
}

body.dark-theme #dark-btn {
  background-color: $colorBlack;
  color: $colorWhite;
  border-radius: 65px;
}

/* Общие стили для кнопок */
.theme-toggle {
  display: inline-flex;
  border-radius: 8px;
  overflow: hidden;
  width: 280px;
  height: 54px;

  @media (min-width: 640px) {
    width: 248px;
  }
}

.theme-toggle button {
  flex: 1;
  padding: 10px 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 18px;
  transition: background $transition, color $transition,
    border-radius $transition;
}

.hero__picture {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.9s ease, visibility 0.9s ease;
}

.hero__picture.is-active {
  opacity: 1;
  visibility: visible;
}

