@use '../utils/variables' as *;

.hero {
  margin: 0 auto;
  background-image: url('../images/hero/decor-1.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__image {
  display: block;
}

.hero__title {
  font-weight: 600;
  font-size: 30px;
  line-height: 1;
  width: 250px;
  color: $colorOrange;
  margin-bottom: 20px;
}

.hero__text {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
  color: $colorBlack;
  margin-bottom: 24px;
}
