@use '../utils/variables' as *;

.hero {
  margin: 0 auto;
  background-image: url('../images/hero/decor-1.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__image {
  display: block;
  justify-self: center;
}

.hero__title {
  font-weight: 600;
  font-size: 30px;
  line-height: 1;
  width: 250px;
  color: $colorOrange;
  margin-bottom: 20px;
}

.hero__text {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 24px;
}

/* Светлая тема */
body.light-theme {
  background-color: $color-bg-light;
  color: $colorBlack;
  transition: background-color $transition, color $transition;
}

body.light-theme .theme-toggle {
  border: 3px solid $colorBlack;
  transition: border $transition;
  border-radius: 65px;
}

body.light-theme #dark-btn {
  border-radius: 65px;
  background: $colorBlack;
  color: $colorWhite;
  transition: background $transition, color $transition,
    border-radius $transition;
}

/* Тёмная тема */
body.dark-theme {
  background-color: $color-bg-dark;
  color: $colorWhite;
  transition: background-color $transition, color $transition;
}

body.dark-theme .theme-toggle {
  border: 3px solid $colorWhite;
  transition: border $transition;
  border-radius: 65px;
}

body.dark-theme #light-btn {
  background: $colorWhite;
  border-radius: 65px;
  color: $colorBlack;
  transition: background $transition, color $transition,
    border-radius $transition;
}

/* Общие стили для кнопок */
.theme-toggle {
  display: inline-flex;
  border-radius: 8px;
  overflow: hidden;
  width: 280px;
  height: 54px;
}

.theme-toggle button {
  flex: 1;
  padding: 10px 20px;
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 18px;
  transition: background $transition, color $transition,
  border-radius $transition;
}

