@use '../utils/variables' as *;

.modal,
.popup {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 1000;
}

.modal.is-active,
.popup.is-active {
  opacity: 1;
  pointer-events: auto;
}

.modal__overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.modal.is-active .modal__overlay {
  opacity: 1;
}

.modal__content,
.popup__content {
  position: relative;
  padding: 2rem;
  border-radius: 8px;
  max-width: 400px;
  width: 100%;
  background: linear-gradient(
    90deg,
    rgb(212, 111, 74) 0%,
    rgb(179, 48, 48) 32%,
    rgb(134, 90, 75) 66%
  );
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  transform: translateY(-20px);
  transition: transform 0.5s ease;
}

.modal.is-active .modal__content,
.popup.is-active .popup__content {
  transform: translateY(0);
}

.modal__buy-title {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 14px;
}

.buy__form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.buy__label {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.buy__input {
  height: 36px;
  border-radius: 4px;
  outline: none;
  background: #ba8686;
  padding: 5px 5px 5px 16px;
  color: #151515;
  font-size: 16px;
}

.modal__submit {
  font-size: 20px;
  font-weight: 600;
}

.popup__text {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  margin-bottom: 14px;
}

.popup__close {
  display: block;
  margin: 0 auto;
  font-size: 24px;
  font-weight: 600;
  color: #fff;
}
