@use '../utils/variables' as *;

.reviews {
  padding: 60px 0;
}

.swiper {
  width: 100%;
}

.swiper-slide {
  width: 370px; /* фиксируем ширину слайда */
  display: flex;
  justify-content: center; /* чтобы карточка внутри была по центру */
}


.reviews__card {
  border-radius: 15px;
  width: 100%;
  height: 337px;
  padding: 25px;
  background-color: $colorBlack;

  @media (min-width: 640px) {
    width: 100%;
    max-width: 370px;

  }
}

.reviews__card-title {
  position: relative;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
  color: $colorWhite;
  margin-bottom: 34px;

  @media (min-width: 640px) {
    font-size: 20px;
  }
}

.reviews__card-title::after {
  content: '';
  position: absolute;
  bottom: -17px;
  left: 0;
  width: 100px;
  height: 3px;
  background: $colorOrange;

  @media (min-width: 640px) {
    width: 150px;
  }
}

.reviews__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: -0.01em;
  color: $colorWhite;

  @media (min-width: 640px) {
    font-size: 14px;
    line-height: 1.6;
  }
}

.arrows-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-top: 20px;
}

.my-prev,
.my-next {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background-color: $colorWhite;
  cursor: pointer;
}

.icon-left,
.icon-right {
  fill: chocolate;
  width: 50%;
  height: 50%;
}

.icon-left:hover,
.icon-right:hover {
  color: chartreuse;
}