@use '../utils/variables' as *;

.reviews {
  position: relative;
  padding: 60px 0;
}

@media (min-width: 1280px) {
  .reviews__container {
    max-width: 1280px;
    padding: 0 40px;
  }
}

@media (min-width: 1440px) {
  .reviews__container {
    max-width: 1440px;
    padding: 0 140px;
  }
}

.reviews::after {
  content: '';
  position: absolute;
  top: 7px;
  right: 0;
  width: 526px;
  height: 528px;
  background-image: -webkit-image-set(
    '../images/reviews/reviews-decor.avif' type('image/avif'),
    '../images/reviews/reviews-decor.webp' type('image/webp'),
    '../images/reviews/reviews-decor.png' type('image/png')
  );
  background-image: image-set(
    '../images/reviews/reviews-decor.avif' type('image/avif'),
    '../images/reviews/reviews-decor.webp' type('image/webp'),
    '../images/reviews/reviews-decor.png' type('image/png')
  );
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 100%;
  filter: blur(120px);
}

.swiper {
  width: 100%;
}

.swiper-slide {
  width: auto;
  display: flex;
  justify-content: center;
}

.reviews__card {
  border-radius: 15px;
  max-width: 100%;
  height: 337px;
  padding: 25px;
  background-color: $colorBlack;

  @media (min-width: 640px) {
    width: 100%;
    max-width: 370px;
  }
}

.reviews__card-title {
  position: relative;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
  color: $colorWhite;
  margin-bottom: 34px;

  @media (min-width: 640px) {
    font-size: 20px;
  }
}

.reviews__card-title::after {
  content: '';
  position: absolute;
  bottom: -17px;
  left: 0;
  width: 100px;
  height: 3px;
  background: $colorOrange;

  @media (min-width: 640px) {
    width: 150px;
  }
}

.reviews__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: -0.01em;
  color: $colorWhite;

  @media (min-width: 640px) {
    font-size: 14px;
    line-height: 1.6;
  }
}

.reviews__box {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 16px;

  @media (min-width: 640px) {
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 34px;
  }
}

.arrows-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.my-prev,
.my-next {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background-color: $colorWhite;
  cursor: pointer;
  fill: $colorBlack;
  transition: all 0.25s linear;
}

.my-prev:hover,
.my-next:hover {
  background-color: $colorOrange;
  fill: $colorWhite;
}

.icon-arrow {
  width: 24px;
  height: 24px;
}

.reviews__button {
  display: block;
  margin: 0 auto;
  border-radius: 65px;
  padding: 15px 35px;
  width: 280px;
  height: 54px;
  background-color: $colorWhite;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #151515;
  transition: all 0.25s linear;

  @media (min-width: 640px) {
    margin: 0;
  }
}

.reviews__button:hover {
  background-color: $colorOrange;
  color: $colorWhite;
}

// Modal reviews
.modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;

  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease;
}

.modal.is-active {
  opacity: 1;
  visibility: visible;
}

.modal__content {
  background: linear-gradient(
    90deg,
    rgba(212, 111, 74, 1) 0%,
    rgba(179, 48, 48, 1) 32%,
    rgba(134, 90, 75, 1) 66%
  );
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  position: relative;

  transform: translateY(-50px);
  transition: transform 0.3s ease;
}

.modal.is-active .modal__content {
  transform: translateY(0);
}

.modal__close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.modal__title-reviews {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 14px;
}

.form__reviews {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.reviews__label {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.reviews__input {
  height: 36px;
  border-radius: 4px;
  outline: none;
  background: rgb(186, 134, 134);
  padding: 5px 5px 5px 16px;
  color: $colorBlack;
  font-size: 16px;
}

.reviews__textarea {
  min-height: 120px;
  border-radius: 4px;
  outline: none;
  background: rgb(186, 134, 134);
  padding: 5px 5px 5px 16px;
  color: $colorBlack;
  font-size: 16px;
  resize: none;
}

.reviews__modal-button {
  font-size: 20px;
  font-weight: 600;
  transition: color 0.25s linear;
}

.reviews__modal-button:hover,
.reviews__modal-button:focus {
  color: $colorBlack;
}

.reviews__modal-button:active {
  color: $colorOrange;
}

// Popup
.thankyou {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1100;

  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease;
}

.thankyou.is-active {
  opacity: 1;
  visibility: visible;
}

.thankyou__content {
  background: #a14040;
  padding: 20px 30px;
  border-radius: 10px;
  text-align: center;
  transform: translateY(-20px);
  transition: transform 0.3s ease;
}

.thankyou.is-active .thankyou__content {
  transform: translateY(0);
}

.thankyou__close {
  margin-top: 15px;
  padding: 8px 20px;
  border: none;
  border-radius: 6px;
  background: #f36c21;
  color: $colorWhite;
  cursor: pointer;
  transition: background 0.25s ease;
}

.thankyou__close:hover {
  background: #d95a15;
}

.thankyou__text {
  font-size: 24px;
  font-weight: 600;
}
