@use '../utils/variables' as *;

.safety {
  padding: 50px 0;
}

.safety__tab-title {
  width: 100%;
}

.safety__tab-text {
  padding-right: 30px;
}

@media (min-width: 1440px) {
  .advantages__images {
    display: flex;
    justify-content: center;
    gap: 24px;
  }

  .advantages__images picture img {
    width: auto;
    height: auto;
    max-width: 100%;
    display: block;
  }
}
