[class*='__container'] {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: 640px) {
    max-width: 640px;
    padding: 0 40px;
  }

  @media (min-width: 1440px) {
    max-width: 1440px;
    padding: 0 140px;
  }
}
