.section-title {
  font-weight: 600;
  font-size: 25px;
  line-height: 1.2;
  color: #f1f1f1;

  @media (min-width: 640px) {
    font-size: 30px;
    line-height: 1.1;
  }

  @media (min-width: 1440px) {
    font-weight: 500;
    font-size: 45px;
    line-height: 1.1;
    color: #ff4c0d;
  }
}
